body {
	background-color: #431F86;
	text-align: center;
	color: white;
	font-family: 'Asap', sans-serif;
}

/*About us button*/
#aboutus {
	right: 2%;
}

#aboutbutton {
	background-color: #431F86;
	border: none;
	color: white;
	font-size: 100%;
}

.dropdown-menu p, a{
	padding: 7px;
}

/*conversion icon*/
#icon {
	width: auto;
	height: 150px;
}

h1 {
	font-size: 70px;
}

/*navbar*/
#menu {
	height: 60px;
	padding-bottom: 25px;
}

#brand{
	height: 30px;
	background-color: white;
}

#brandtext {
	width: 100%;
    text-align: center;
}

.fa {
	font-size: 150%
}