body {
	background-color: #431F86;
	text-align: center;
	color: white;
	font-family: 'Asap', sans-serif;
}


#icon {
	width: auto;
	height: 150px;
}

h1 {
	font-size: 70px;
}

.navbar {
	opacity: .8;
	height: 60px;
}

.fa {
	font-size: 150%
}