/*
.html{
	width: 500px;
	margin: 0;
}
*/

html{
	
}

body {
	background-color: #431F86;
	text-align: center;
	color: white;
	font-family: 'Asap', sans-serif;
}

.container{


}

input {
	border-radius: 7px;

}

#icon {
	width: auto;
	height: 150px;
}

h1 {
	font-size: 70px;
}

/*NavBar*/

#active {
	color: #0a0972;
}
